{
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript",
        "trailingComma": "all",
        "tabWidth": 4
      }
    },
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "babel",
        "tabWidth": 4
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "parser": "json",
        "tabWidth": 4
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "parser": "yaml",
        "singleQuote": true
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    }
  ]
}
